@page
@model CsPharma_V4.Pages.LineaDistribución.DetailsModel

@{
    ViewData["Title"] = "Detalles";
}

<!-- Página que muestra los detalles de las líneas de distribución -->

<h1>Detalles</h1>

<div>
    <h4>Líneas de distribución</h4>
    <hr />

    <!-- Despliegue de los detalles de cada línea -->
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TdcCatLineasDistribucion.MdUuid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TdcCatLineasDistribucion.MdUuid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TdcCatLineasDistribucion.MdDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TdcCatLineasDistribucion.MdDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TdcCatLineasDistribucion.CodLinea)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TdcCatLineasDistribucion.CodLinea)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TdcCatLineasDistribucion.CodProvincia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TdcCatLineasDistribucion.CodProvincia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TdcCatLineasDistribucion.CodMunicipio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TdcCatLineasDistribucion.CodMunicipio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TdcCatLineasDistribucion.CodBarrio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TdcCatLineasDistribucion.CodBarrio)
        </dd>
    </dl>
</div>

<!-- Links que nos llevan de vuelta al index o a editar los detalles del formulario-->
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TdcCatLineasDistribucion?.CodLinea">Editar</a> |
    <a asp-page="./Index">Volver</a>
</div>
