@page
@model CsPharma_V4.Pages.EstadoPedido.DeleteModel

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<div>
    <h4>Información del pedido</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TdcTchEstadoPedido.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TdcTchEstadoPedido.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TdcTchEstadoPedido.MdUuid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TdcTchEstadoPedido.MdUuid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TdcTchEstadoPedido.MdDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TdcTchEstadoPedido.MdDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Código de pedido")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TdcTchEstadoPedido.CodPedido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Estado devolución")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TdcTchEstadoPedido.CodEstadoDevolucionNavigation.DesEstadoDevolucion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Estado envío")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TdcTchEstadoPedido.CodEstadoEnvioNavigation.DesEstadoEnvio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Estado pago")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TdcTchEstadoPedido.CodEstadoPagoNavigation.DesEstadoPago)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Código de línea")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TdcTchEstadoPedido.CodLineaNavigation.CodLinea)
        </dd>
    </dl>
    
    <form method="post" onsubmit="return confirmarEliminacion()">
        <input type="hidden" asp-for="TdcTchEstadoPedido.Id" />
        <input type="submit" class="delete" value="Eliminar" /> <br />
        <a asp-page="./Index" class="btn btn-primary" >Volver</a>
    </form>
</div>

<script>
    function confirmarEliminacion() {
        return confirm("¿Está seguro de que desea eliminar este registro?");
    }
</script>
