@page
@model CsPharma_V4.Pages.EstadoPedido.DetailsModel

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <h4>Estado del pedido</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TdcTchEstadoPedido.MdUuid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TdcTchEstadoPedido.MdUuid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TdcTchEstadoPedido.MdDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TdcTchEstadoPedido.MdDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TdcTchEstadoPedido.CodPedido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TdcTchEstadoPedido.CodPedido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TdcTchEstadoPedido.CodEstadoDevolucionNavigation.DesEstadoDevolucion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TdcTchEstadoPedido.CodEstadoDevolucionNavigation.DesEstadoDevolucion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TdcTchEstadoPedido.CodEstadoEnvioNavigation.DesEstadoEnvio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TdcTchEstadoPedido.CodEstadoEnvioNavigation.DesEstadoEnvio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TdcTchEstadoPedido.CodEstadoPagoNavigation.DesEstadoPago)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TdcTchEstadoPedido.CodEstadoPagoNavigation.DesEstadoPago)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TdcTchEstadoPedido.CodLineaNavigation.CodLinea)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TdcTchEstadoPedido.CodLineaNavigation.CodLinea)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TdcTchEstadoPedido?.Id">Editar</a> |
    <a asp-page="./Index">Volver</a>
</div>
