@page
@model CsPharma_V4.Pages.EstadoPedido.IndexModel

@{
    ViewData["Title"] = "Index";
}

<!-- Página de index de la lista de pedidos -->

<h1>Index</h1>

<!-- Botón que nos lleva a la vista de crear -->
<p>
    <a asp-page="Create">Crear</a>
</p>

<!-- Formulario para ingresar el filtro -->
<form method="get">
    <div class="form-group">
        <label for="filtro">Filtro de búsqueda:</label>
        <input type="text" name="filtro" placeholder="Buscar" class="form-control" value="@Model.Filtro" />
    </div>
    <button type="submit">Buscar</button>
</form>

<!-- Tabla que muestra la información de los pedidos -->
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TdcTchEstadoPedido[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TdcTchEstadoPedido[0].MdUuid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TdcTchEstadoPedido[0].MdDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TdcTchEstadoPedido[0].CodPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TdcTchEstadoPedido[0].CodEstadoDevolucionNavigation.DesEstadoDevolucion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TdcTchEstadoPedido[0].CodEstadoEnvioNavigation.DesEstadoEnvio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TdcTchEstadoPedido[0].CodEstadoPagoNavigation.DesEstadoPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TdcTchEstadoPedido[0].CodLineaNavigation.CodLinea)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TdcTchEstadoPedido) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MdUuid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MdDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodEstadoDevolucionNavigation.DesEstadoDevolucion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodEstadoEnvioNavigation.DesEstadoEnvio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodEstadoPagoNavigation.DesEstadoPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodLineaNavigation.CodLinea)
            </td>
            <td>

                 <!-- Links para redirigir a las vistas de editar, eliminar y detalles -->
                <a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
