@page
@model CsPharma_V4.Pages.DevoluciónPedido.DeleteModel

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>¿Está seguro de que quiere eliminarlo?</h3>
<div>
    <h4>Estado de devolución del pedido</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TdcCatEstadosDevolucionPedido.MdUuid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TdcCatEstadosDevolucionPedido.MdUuid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TdcCatEstadosDevolucionPedido.MdDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TdcCatEstadosDevolucionPedido.MdDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TdcCatEstadosDevolucionPedido.CodEstadoDevolucion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TdcCatEstadosDevolucionPedido.CodEstadoDevolucion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TdcCatEstadosDevolucionPedido.DesEstadoDevolucion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TdcCatEstadosDevolucionPedido.DesEstadoDevolucion)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="TdcCatEstadosDevolucionPedido.CodEstadoDevolucion" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-page="./Index">Volver</a>
    </form>
</div>
