@page
@model CsPharma_V4.Pages.PagoPedido.DeleteModel

@{
    ViewData["Title"] = "Eliminar";
}

<!-- Página para eliminar una fila de estado de pago -->

<h1>Eliminar</h1>

<h3>¿Está seguro de que quiere eliminarlo?</h3>
<div>
    <h4>Estado del pago</h4>
    <hr />

    <!-- Despliegue de la información que se va a eliminar-->
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TdcCatEstadosPagoPedido.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TdcCatEstadosPagoPedido.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TdcCatEstadosPagoPedido.MdUuid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TdcCatEstadosPagoPedido.MdUuid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TdcCatEstadosPagoPedido.MdDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TdcCatEstadosPagoPedido.MdDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TdcCatEstadosPagoPedido.CodEstadoPago)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TdcCatEstadosPagoPedido.CodEstadoPago)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TdcCatEstadosPagoPedido.DesEstadoPago)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TdcCatEstadosPagoPedido.DesEstadoPago)
        </dd>
    </dl>
    <!-- Formulario para eliminar los campos dándole al botón -->
    <form method="post">
        <input type="hidden" asp-for="TdcCatEstadosPagoPedido.CodEstadoPago" />
        <input type="submit" value="Eliminar"/> |
        <!-- Link para volver al index-->
        <a asp-page="./Index">Volver</a>
    </form>
</div>
