@page
@model CsPharma_V4.Pages.PagoPedido.DetailsModel

@{
    ViewData["Title"] = "Detalles";
}

<!-- Esta página nos muestra los detalles de pago -->

<h1>Detalles</h1>

<div>
    <h4>Estado de pago del pedido</h4>
    <hr />

    <!-- Despliegue de la información de los campos -->
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TdcCatEstadosPagoPedido.MdUuid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TdcCatEstadosPagoPedido.MdUuid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TdcCatEstadosPagoPedido.MdDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TdcCatEstadosPagoPedido.MdDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TdcCatEstadosPagoPedido.CodEstadoPago)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TdcCatEstadosPagoPedido.CodEstadoPago)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TdcCatEstadosPagoPedido.DesEstadoPago)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TdcCatEstadosPagoPedido.DesEstadoPago)
        </dd>
    </dl>
</div>

<!-- Links que nos llevan de vuelta al index o a editar los detalles del formulario-->
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TdcCatEstadosPagoPedido?.CodEstadoPago">Editar</a> |
    <a asp-page="./Index">Volver</a>
</div>
