@page
@model CsPharma_V4.Pages.PagoPedido.IndexModel

@{
    ViewData["Title"] = "Index";
}

<!-- Página que muestra los estados de pago -->

<h1>Index</h1>

<!-- Botón que nos lleva al formulario de creación -->
<p>
    <a asp-page="Create">Crear</a>
</p>

<!-- Tabla que muestra los estados de pago -->

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TdcCatEstadosPagoPedido[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TdcCatEstadosPagoPedido[0].MdUuid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TdcCatEstadosPagoPedido[0].MdDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TdcCatEstadosPagoPedido[0].CodEstadoPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TdcCatEstadosPagoPedido[0].DesEstadoPago)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TdcCatEstadosPagoPedido) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MdUuid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MdDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodEstadoPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DesEstadoPago)
            </td>

            <!-- Estos botones nos redirigen a diferentes formularios -->

            <td>
                <a asp-page="./Edit" asp-route-id="@item.CodEstadoPago">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.CodEstadoPago">Detalles</a> |
                <a asp-page="./Delete" asp-route-id="@item.CodEstadoPago">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
