@page
@model CsPharma_V4.Pages.Usuarios.EditModel

<!-- Página de edición para la lista de usuarios -->

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Lista de usuarios registrados</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        
        <!-- Formulario que muestra la información de los usuarios a partir de la clase ModeloUsuario -->
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ModeloUsuario.Usuarios.Id" />
            <div class="form-group">
                <label asp-for="ModeloUsuario.Usuarios.UserName" class="control-label">Nombre de usuario</label>
                <input asp-for="ModeloUsuario.Usuarios.UserName" class="form-control" />
                <span asp-validation-for="ModeloUsuario.Usuarios.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModeloUsuario.Usuarios.Email" class="control-label">Email</label>
                <input asp-for="ModeloUsuario.Usuarios.Email" class="form-control" />
                <span asp-validation-for="ModeloUsuario.Usuarios.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModeloUsuario.Usuarios.PhoneNumber" class="control-label">Número de teléfono</label>
                <input asp-for="ModeloUsuario.Usuarios.PhoneNumber" class="form-control" />
                <span asp-validation-for="ModeloUsuario.Usuarios.PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Roles:</label>
                @for (int i = 0; i < @Model.ModeloUsuario.Roles.Count(); i++)
                {
                    <div class="form-check">
                        @Html.CheckBoxFor(c => @Model.ModeloUsuario.Roles[i].Selected)
                        @Html.HiddenFor(h => @Model.ModeloUsuario.Roles[i].Value)

                        @Html.LabelFor(l => @Model.ModeloUsuario.Roles[i].Selected, @Model.ModeloUsuario.Roles[i].Text, new {@class="form-check-label"})
                        @Html.HiddenFor(h => @Model.ModeloUsuario.Roles[i].Text)
                    </div>
                }
            </div>

            <!-- Botón que guarda los datos del formulario en la base de datos en caso de que haya sido editado-->
            <div class="form-group">
                <input type="submit" value="Guardar" />
            </div>
        </form>
    </div>
</div>

<!-- Botón para volver al index -->
<div>
    <a asp-page="./Index" class="btn btn-primary" >Volver</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

