@page
@model CsPharma_V4.Pages.Usuarios.IndexModel

@{
    ViewData["Title"] = "Index";
}

<!-- Página de index de la lista de usuarios -->

<h1>Index</h1>

<!-- Formulario para ingresar el filtro -->
<form method="get">
    <div class="form-group">
        <label for="filtro">Filtro de búsqueda:</label>
        <input type="text" name="filtro" placeholder="Buscar" class="filtro form-control" value="@Model.Filtro" />
        <button class="filtroBtn" type="submit">Buscar</button>
    </div>
</form>

<!-- Tabla que muestra la información de los usuarios -->
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Id")
            </th>
            <th>
                @Html.DisplayName("Nombre")
            </th>
            <th>
                @Html.DisplayName("Apellidos")
            </th>
            <th>
                @Html.DisplayName("Nombre de usuario")
            </th>
            <th>
                @Html.DisplayName("Email")
            </th>
            <th>
                @Html.DisplayName("Número de teléfono")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listaUsuarios)
        {
            @if (item.Email != User.Identity.Name)
            {
                
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApellidosUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>

                <!-- Links para redirigir a las vistas de editar y eliminar -->
                <td> 
                    <a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
            }
        }
    </tbody>
</table>
